<!doctype html{% block html_start %}{% endblock %}>
<html lang="{{ app.request.locale }}"{% if tabler_bundle.isRightToLeft() %} dir="rtl"{% endif %}>
<head>
    {% block head %}
        {{ include('@Tabler/includes/html_head.html.twig') }}
    {% endblock %}
    {% block seo %}
        <title>{% block title %}{% if block('page_title') is defined %}{{ block('page_title') }}{% else %}Page Title{% endif %}{% endblock %}</title>
    {% endblock %}
    {% block stylesheets %}
        {{ include('@Tabler/includes/css_assets.html.twig') }}
    {% endblock %}
</head>
<body{% block body_start %}{% endblock %} class="{{ 'antialiased'|tabler_body }} {% block body_class %}{% endblock %}" data-bs-theme="{{ tabler_theme() }}">

{% block after_body_start %}{% endblock %}
{% block page_before %}{% endblock %}
<div class="{% block page_classes %}page{% endblock %}">
    {% block container_before %}{% endblock %}
    {% block container %}{% endblock %}
    {% block container_after %}{% endblock %}
</div>
{% block page_after %}{% endblock %}

{% block javascripts %}
    {{ include('@Tabler/includes/js_assets.html.twig') }}
{% endblock %}
{% block before_body_end %}{% endblock %}
</body>
</html>
