{% extends '@Tabler/layout.html.twig' %}
{% block title %}Log in{% endblock %}
{% block body_class %}{% block body_login_border %}border-top-wide border-primary{% endblock %} d-flex flex-column{% endblock %}
{% block page_classes %}page page-center{% endblock %}
{% block container %}
    <div class="{% block container_classes %}container container-tight py-4{% endblock %}">
        <div class="text-center mb-4">
            {% block security_logo %}
                {% include '@Tabler/includes/security-logo.html.twig' %}
            {% endblock %}
        </div>

        <div class="{% block card_classes %}card card-md{% endblock %}">
            {% block login_box %}
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">{% block login_box_msg %}{% endblock %}</h2>
                    {% block login_box_error %}
                        {% if error|default(false) %}
                            <div class="alert alert-important alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                    {% endblock %}
                    {% block login_form %}
                        <form action="{{ path('tabler_login_check'|tabler_route) }}" method="post" autocomplete="off" class="login-box-body security-login">
                        {% block login_form_start %}{% endblock %}
                            <div class="mb-3">
                                <label for="username" class="form-label">{{ 'Username'|trans({}, 'TablerBundle') }}</label>
                                <input autocomplete="username" type="text" id="username" name="_username" tabindex="10" class="form-control" placeholder="{{ 'Username'|trans({}, 'TablerBundle') }}" value="{{ last_username|default('') }}" required="required">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">
                                    {{ 'Password'|trans({}, 'TablerBundle') }}
                                    {% block password_forgotten %}
                                        {% if 'tabler_password_reset'|tabler_route != 'tabler_password_reset' %}
                                            <span class="form-label-description">
                                                <a href="{{ path('tabler_password_reset'|tabler_route) }}" tabindex="100">{{ 'I forgot my password'|trans({}, 'TablerBundle') }}</a>
                                            </span>
                                        {% endif %}
                                    {% endblock %}{# password_forgotten #}
                                </label>
                                <div class="input-group input-group-flat">
                                    <input autocomplete="new-password" id="password" name="_password" type="password" tabindex="20" class="form-control" placeholder="{{ 'Password'|trans({}, 'TablerBundle') }}" required="required">
                                    {% block password_show %}
                                        {% include '@Tabler/includes/login-show-password.html.twig' %}
                                        <script>
                                            {% include '@Tabler/includes/login-show-password.js.twig' %}
                                        </script>
                                    {% endblock %}{# password_show #}
                                </div>
                            </div>
                            {% block remember_me %}
                                {% include '@Tabler/includes/security-remember.html.twig' %}
                            {% endblock %}
                            <div class="form-footer">
                                <button type="submit" tabindex="40" class="btn btn-primary w-100">{{ 'Sign In'|trans({}, 'TablerBundle') }}</button>
                            </div>
                            {% block csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                            {% endblock %}
                            {% block login_form_end %}{% endblock %}
                        </form>
                    {% endblock %}{# login_form #}
                </div>
            {% endblock %}{# login_box #}

            {% block login_social_auth %}
                {% include '@Tabler/includes/login-social.html.twig' %}
            {% endblock %}
        </div>

        {% block login_actions %}
            {% block registration %}
                {% if 'tabler_registration'|tabler_route != 'tabler_registration' %}
                    <div class="text-center text-body-secondary mt-3">
                        <a href="{{ path('tabler_registration'|tabler_route) }}">
                            {{ 'Register a new account'|trans({}, 'TablerBundle') }}
                        </a>
                    </div>
                {% endif %}
            {% endblock %}
        {% endblock %}{# login_actions #}
    </div>
{% endblock %}
