{% use 'bootstrap_5_layout.html.twig' %}

{# Faz com que todo campo desabilitado não chame atenção para sua condição de obrigatório #}
{% block form_label -%}
    {% if disabled is defined and disabled %}{% set required = false %}{% endif %}
    {{ parent() }}
{%- endblock form_label %}

{% block date_widget -%}
    {%- if widget == 'single_text' -%}
        <div class="input-group {{ group_class|default('') }}">
            <span class="input-group-text">{{ tabler_icon('calendar') }}</span>
            {{- block('form_widget_simple') -}}
        </div>
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{%- endblock date_widget %}

{% block time_widget -%}
    {%- if widget == 'single_text' -%}
        <div class="input-group {{ group_class|default('') }}">
            <span class="input-group-text">{{ tabler_icon('clock') }}</span>
            {{- block('form_widget_simple') -}}
        </div>
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{%- endblock time_widget %}

{% block datetime_widget -%}
    {%- if widget == 'single_text' -%}
        <div class="input-group {{ group_class|default('') }}">
            <span class="input-group-text">{{ tabler_icon('calendar') }}</span>
            {{- block('form_widget_simple') -}}
        </div>
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{%- endblock datetime_widget %}
