
{% block mobile_phone_widget %}
    {%- set attr = attr|merge({
        'data-mask': attr['data-mask']|default('(00) 90000-0000'),
    }) -%}
    <div class="input-group input-group-flat">
        <span class="input-icon-addon">
            {{ tabler_icon('fa fa-phone') }}
        </span>
        {{ block('form_widget_simple') }}
        <span class="input-group-text">
            <a href="#" class="link-secondary js-mobile-input-chat" data-bs-toggle="tooltip" aria-label="Conversar no Whatsapp" data-bs-original-title="Conversar no Whatsapp">
                {{ tabler_icon('fab fa-whatsapp') }}
            </a>
            <a href="#" class="link-secondary ms-2 js-mobile-input-call" data-bs-toggle="tooltip" aria-label="Iniciar uma Chamada" data-bs-original-title="Iniciar uma Chamada">
                {{ tabler_icon('fa fa-phone') }}
            </a>
        </span>
    </div>
{% endblock %}

{% block phone_widget %}
    {%- set attr = attr|merge({
        'data-mask': attr['data-mask']|default('(00) 0000-0000'),
    }) -%}
    <div class="input-group input-group-flat">
        {{ block('form_widget_simple') }}
        <span class="input-group-text">
            <a href="#" class="link-secondary js-mobile-input-chat" target="_blank" data-bs-toggle="tooltip" aria-label="Conversar no Whatsapp" data-bs-original-title="Conversar no Whatsapp">
                {{ tabler_icon('fab fa-whatsapp') }}
            </a>
            <a href="#" class="link-secondary ms-2 js-mobile-input-call" target="_blank" data-bs-toggle="tooltip" aria-label="Iniciar uma Chamada" data-bs-original-title="Iniciar uma Chamada">
                {{ tabler_icon('fa fa-phone') }}
            </a>
        </span>
    </div>
{% endblock %}

{% block cpf_widget %}
    {%- set attr = attr|merge({
        'data-mask': attr['data-mask']|default('000.000.000-00'),
    }) -%}
    {% if not attr.disabled|default(false) and not attr.readonly|default(false) and access.dev %}
        <div class="input-group input-group-flat">
            {{ block('form_widget_simple') }}
            <span class="input-group-text">
                <a href="#" class="link-secondary ms-2 js-cpf-randomizer" data-remote="{{ router.security.generateCpf }}" data-bs-toggle="tooltip" aria-label="Gerar um número de CPF válido" data-bs-original-title="Gerar um número de CPF válido">
                    {{ tabler_icon('fa fa-cogs') }}
                </a>
            </span>
        </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endblock %}

{% block cnpj_widget %}
    {%- set attr = attr|merge({
        'data-mask': attr['data-mask']|default('00.000.000/0000-00'),
    }) -%}
    {% if not attr.disabled|default(false) and not attr.readonly|default(false) and access.dev %}
        <div class="input-group input-group-flat">
            {{ block('form_widget_simple') }}
            <span class="input-group-text">
                <a href="#" class="link-secondary ms-2 js-cnpj-randomizer" data-remote="{{ router.security.generateCnpj }}" data-bs-toggle="tooltip" aria-label="Gerar um número de CNPJ válido" data-bs-original-title="Gerar um número de CNPJ válido">
                    {{ tabler_icon('fa fa-cogs') }}
                </a>
            </span>
        </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endblock %}
