{% use 'custom-form-widgets.html.twig' %}

{# Muda a divisão padrão das colunas de 2/10 para 4/8 #}
{% block form_label_class -%}
    col-sm-4
{%- endblock form_label_class %}
{% block form_group_class -%}
    col-sm-8
{%- endblock form_group_class %}

{# Restaura a separação entre rótulo e campo para os checkboxes e radios
   (blocos checkbox_row, checkbox_radio_label e checkbox_widget)
#}
{% block checkbox_row -%}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('mb-3') ~ ' row')|trim})} %}{{ block('attributes') }}{% endwith %}>{#--#}
        <div class="{{ block('form_label_class') }}">
            {{- form_label(form) -}}
        </div>{#--#}
        <div class="{{ block('form_group_class') }}">
            {{- form_widget(form) -}}
            {{- form_help(form) -}}
            {{- form_errors(form) -}}
        </div>{#--#}
    </div>
{%- endblock checkbox_row %}
{% block checkbox_label -%}
    {%- set label_attr_class = label_attr_class|default(label_attr.class|default('')) -%}
    {%- if 'btn' not in label_attr_class -%}
        {%- set label_attr_class = label_attr_class ~ ' form-check-label' -%}
    {%- endif -%}
    {%- set label_attr = label_attr|merge({class: label_attr_class|trim}) -%}
    {%- if not compound -%}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {%- endif -%}
    {%- if required -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) -%}
    {%- endif -%}
    {%- if parent_label_class is defined -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|replace({'checkbox-inline': '', 'radio-inline': ''})|trim}) -%}
    {%- endif -%}

    <label{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
        {%- if label is not same as(false) -%}
            {{- block('form_label_content') -}}
        {%- endif -%}
    </label>
{%- endblock checkbox_label %}
{%- block checkbox_widget -%}
    {%- set attr_class = attr_class|default(attr.class|default('')) -%}
    {%- set row_class = '' -%}
    {%- if 'btn-check' not in attr_class -%}
        {%- set attr_class = attr_class ~ ' form-check-input' -%}
        {%- set row_class = 'form-check' -%}
    {%- endif -%}
    {%- set attr = attr|merge({class: attr_class|trim}) -%}
    {%- set parent_label_class = parent_label_class|default(label_attr.class|default('')) -%}
    {%- if 'checkbox-inline' in parent_label_class %}
        {%- set row_class = row_class ~ ' form-check-inline' -%}
    {% endif -%}
    {%- if 'checkbox-switch' in parent_label_class %}
        {%- set row_class = row_class ~ ' form-switch' -%}
    {% endif -%}
    {%- if row_class is not empty -%}
        <div class="{{ row_class }}">
    {%- endif -%}
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {%- if description is defined and description is not empty -%}
                <span class="form-check-description">{{ description|raw }}</span>
            {%- endif -%}
    {%- if row_class is not empty -%}
        </div>
    {%- endif -%}
{%- endblock checkbox_widget %}
