{% use 'bootstrap_5_horizontal_layout.html.twig' %}

{% block email_widget %}
    <div class="input-group input-group-flat">
        <span class="input-group-text text-faded">
            {{ tabler_icon('fa fa-at') }}
        </span>
        {{ parent() }}
        <span class="input-group-text">
            <a href="#" class="link-info js-email-input-send" data-no-bs-toggle="tooltip" title="Enviar mensagem para o e-mail" data-bs-original-title="Enviar mensagem para o e-mail">
                {{ tabler_icon('fa fa-envelope') }}
            </a>
        </span>
    </div>
{% endblock email_widget %}

{% block mobile_phone_widget %}
    {%- set attr = attr|merge({
        'data-mask': attr['data-mask']|default('(00) 90000-0000'),
    }) -%}
    <div class="input-group input-group-flat">
        <span class="input-group-text text-faded">
            {{ tabler_icon('fa fa-mobile') }}
        </span>
        {{ block('form_widget_simple') }}
        <span class="input-group-text">
            <a href="#" class="link-info js-mobile-input-chat" target="_blank" data-no-bs-toggle="tooltip" title="Conversar no Whatsapp" data-bs-original-title="Conversar no Whatsapp">
                {{ tabler_icon('fab fa-whatsapp') }}
            </a>
            <a href="#" class="link-info ms-2 js-mobile-input-call" target="_blank" data-no-bs-toggle="tooltip" title="Iniciar uma Chamada" data-bs-original-title="Iniciar uma Chamada">
                {{ tabler_icon('fa fa-phone') }}
            </a>
        </span>
    </div>
{% endblock mobile_phone_widget %}

{% block phone_widget %}
    {%- set attr = attr|merge({
        'data-mask': attr['data-mask']|default('(00) 0000-0000'),
    }) -%}
    <div class="input-group input-group-flat">
        <span class="input-group-text text-faded">
            {{ tabler_icon('fa fa-phone-alt') }}
        </span>
        {{ block('form_widget_simple') }}
        <span class="input-group-text">
            <a href="#" class="link-info js-mobile-input-chat" target="_blank" data-no-bs-toggle="tooltip" title="Conversar no Whatsapp" data-bs-original-title="Conversar no Whatsapp">
                {{ tabler_icon('fab fa-whatsapp') }}
            </a>
            <a href="#" class="link-info ms-2 js-mobile-input-call" target="_blank" data-no-bs-toggle="tooltip" title="Iniciar uma Chamada" data-bs-original-title="Iniciar uma Chamada">
                {{ tabler_icon('fa fa-phone') }}
            </a>
        </span>
    </div>
{% endblock phone_widget %}

{% block cpf_widget %}
    {%- set attr = attr|merge({
        'data-mask': attr['data-mask']|default('000.000.000-00'),
    }) -%}
    {% if not attr.disabled|default(false) and not attr.readonly|default(false) and access.dev %}
        <div class="input-group input-group-flat">
            <span class="input-group-text text-faded">
                {{ tabler_icon('fa fa-id-card') }}
            </span>
            {{ block('form_widget_simple') }}
            <span class="input-group-text">
                <a href="#" class="link-info ms-2 js-cpf-randomizer" data-remote="{{ router.dev.generateCpf }}" data-no-bs-toggle="tooltip" title="Gerar um número de CPF válido" data-bs-original-title="Gerar um número de CPF válido">
                    {{ tabler_icon('fa fa-cogs') }}
                </a>
            </span>
        </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endblock cpf_widget %}

{% block cnpj_widget %}
    {%- set attr = attr|merge({
        'data-mask': attr['data-mask']|default('00.000.000/0000-00'),
    }) -%}
    {% if not attr.disabled|default(false) and not attr.readonly|default(false) and access.dev %}
        <div class="input-group input-group-flat">
            <span class="input-group-text text-faded">
                {{ tabler_icon('fa fa-registered') }}
            </span>
            {{ block('form_widget_simple') }}
            <span class="input-group-text">
                <a href="#" class="link-info ms-2 js-cnpj-randomizer" data-remote="{{ router.dev.generateCnpj }}" data-no-bs-toggle="tooltip" title="Gerar um número de CNPJ válido" data-bs-original-title="Gerar um número de CNPJ válido">
                    {{ tabler_icon('fa fa-cogs') }}
                </a>
            </span>
        </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endblock cnpj_widget %}

{# Faz com que todo campo desabilitado não chame atenção para sua condição de obrigatório #}
{% block form_label -%}
    {% if disabled is defined and disabled %}{% set required = false %}{% endif %}
    {{ parent() }}
{%- endblock form_label %}

{% block date_widget -%}
    {%- if widget == 'single_text' -%}
        <div class="input-group input-group-flat">
            <span class="input-group-text text-faded">{{ tabler_icon('calendar') }}</span>
            {{ parent() }}
        </div>
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{%- endblock date_widget %}

{% block time_widget -%}
    {%- if widget == 'single_text' -%}
        <div class="input-group input-group-flat">
            <span class="input-group-text text-faded">{{ tabler_icon('clock') }}</span>
            {{ parent() }}
        </div>
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{%- endblock time_widget %}

{% block datetime_widget -%}
    {%- if widget == 'single_text' -%}
        <div class="input-group input-group-flat">
            <span class="input-group-text text-faded">{{ tabler_icon('calendar') }}</span>
            {{ parent() }}
        </div>
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{%- endblock datetime_widget %}

{% block name_widget -%}
    <div class="input-group input-group-flat">
        <span class="input-group-text text-faded">{{ tabler_icon('fa fa-circle-user') }}</span>
        {{ block('form_widget_simple') }}
    </div>
{%- endblock name_widget %}

{% block title_widget -%}
    <div class="input-group input-group-flat">
        <span class="input-group-text text-faded">{{ tabler_icon('fa fa-ticket-simple') }}</span>
        {{ block('form_widget_simple') }}
    </div>
{%- endblock title_widget %}
